{% extends "base.html" %}

{% block body %}
<div class="tela-principal">
    <div class="card-principal">
        <form method="post" action="">
            {{buscarempresa.csrf_token}}
            <div class="container-interno">
                <form action="", method="post">
                    {{buscarempresa.csrf_token}}
                    <div class="textfield-serv">
                        {{buscarempresa.cnpj.label}}
                        {% if buscarempresa.errors %}
                            {{buscarempresa.cnpj(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for erros in buscarempresa.cnpj.errors %}
                                    {{ erros }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ buscarempresa.cnpj(placeholder="12.345.678/0001-90")}}
                        {% endif %}
                    </div>
                    {{ buscarempresa.btn_busca(class='btn-busca-cof') }}
                    <br>
                    <br>
                </form>
            </div>
            <div class="container-interno">
                
                
            </div>
            <div class="container-interno">
                {% if status %}
                    <div class="textfield-serv">
                        <label>Empresa</label>
                        <input type="text" value="{{status['nome']}}" disabled="True">
                    </div> 
                    <div class="textfield-serv">
                        <label>CEP</label>
                        <input type="text" value="{{status['cep']}}" disabled="True">
                    </div>
                    <div class="textfield-serv">
                        <label>Estado</label>
                        <input type="text" value="{{status['estado']}}" disabled="True">
                    </div>
                {% else %}
                    <div class="textfield-serv">
                        <label>Empresa</label>
                        <input type="text" value="" disabled="True">
                    </div> 
                    <div class="textfield-serv">
                        <label>CEP</label>
                        <input type="text" value="" disabled="True">
                    </div>
                    <div class="textfield-serv">
                        <label>Estado</label>
                        <input type="text" value="" disabled="True">
                    </div>
                {% endif %}             
            </div>
            <div class="container-interno">
                
            </div>
            <div class="container-interno">
                {% if status %}
                    <div class="textfield-serv">
                        <label>Cidade</label>
                        <input type="text" value="{{status.cidade}}" disabled="True">
                    </div>
                    <div class="textfield-serv">
                        <label>Endereço</label>
                        <input type="text" value="{{status.endereco}}" disabled="True">
                    </div>
                    <div class="textfield-serv">
                        <label>Status Empresa</label>
                        <input type="text" value="{{status.status}}" disabled="True">
                    </div>
                {% else %}
                    <div class="textfield-serv">
                        <label>Cidade</label>
                        <input type="text" value="" disabled="True">
                    </div>
                    <div class="textfield-serv">
                        <label>Endereço</label>
                        <input type="text" value="" disabled="True">
                    </div>
                    <div class="textfield-serv">
                        <label>Status Empresa</label>
                        <input type="text" value="" disabled="True">
                    </div>
                {% endif %}
            </div>
            <div class="container-interno">
                
            </div>
            
        </form>

    </div>
</div>


{% endblock %}