{% extends "base.html" %}


{% block body %}
<div class="main-login">
    <form method="post" action="">
        {{ sis_prodan.csrf_token }}
        <div class="right-login">
            <div class="card-login">
                <h1>PRODAN GERAL</h1>
                <div class="textfield">
                    {{ sis_prodan.cpf.label }}
                    {{ sis_prodan.cpf(placeholder = '00000000000') }}
                </div>
            {{ sis_prodan.btn_consultar(class = 'btn-login') }}
            </div>
        </div>
    </form>
</div>

{% endblock %}
