{% extends "base.html" %}

{% block body %}
<div class="main-login">
    <form method="post" action="">
        {{ consiglog.csrf_token }}
        <div class="left-login">
            <div class="card-login">
                <h1>CONSIGLOG GERAL</h1>
                <div class="textfield">
                    {{ consiglog.matricula.label }}
                    {{ consiglog.matricula(placeholder = '0000000A') }}
                </div>
            {{ consiglog.btn_consultar(class = 'btn-login') }}
            </div>
        </div>
    </form>

    {% if dados%}
    <div class="left-login">
        <fieldset class="card-login">
            <div class="textfield">
                <label class="form-label">SERVIDOR</label>
                <input type="text" value="{{dados['NOME']}}">
            </div>
            <div class="textfield" >
                <label class="form-label col">MATRICULA</label>
                <input type="text" value="{{dados['MATRICULA']}}">
            </div>
            <div class="textfield">
                <label for="" class="form-label col">CPF</label>
                <input type="text" value="{{dados['CPF']}}">
            </div>
            <div class="textfield">
                <label for="" class="textfield">TIPO SERVIDOR / ORGÃO</label>
                <input type="text" value="{{dados['TIPO']}} / {{dados['ORGAO']}}">
            </div>
            <div class="textfield">
                <label for="" class="textfield">MARGEM LIVRE EMPRESTIMO</label>
                <input type="text" value="{{dados['MARGEM30']}}">
            </div>
            <div class="textfield">
                <label for="" class="form-label">MARGEM LIVRE CARTÃO</label>
                <input type="text" value="{{dados['MARGEM5']}}">
            </div>
            <div class="textfield">
                <label for="" class="form-label">MARGEM LIVRE MASTER</label>
                <input type="text" value="{{dados['MARGEMMASTER']}}">
            </div>
        </fieldset>

    {% endif %}
    {% if erro %}
        <div class="left-login">
            <fieldset class="card-login">
                <div class="textfield">
                    <label>Cliente não encontrado</label>
                </div>
            </fieldset>
        </div>

    {% endif%}


</div>


{% endblock %}
