

body{
    margin: 0;
    font-family: Roboto;
}

.tela-principal{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-busca{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;    
}


.container-interno {
padding: 10px;
margin: 2px;
height: 38vh;
width: 26vw;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.card-principal{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    flex-wrap: wrap;
}

.textfield-serv{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.textfield-serv > input{
    width: 25vw;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-top: 2px;
}

.select > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.select{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    color: #F4A460;
    background: #F4A460	;
}

.textfield-serv > label{
    color: #f0ffffde;
    margin-bottom: 2px;
}

.textfield-serv > input::placeholder{
    color: #f0ffff94;
}
.btn-busca-cof{
    margin-top: 10px;
    width: 60%;
    height: 20%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-align: center;
 }

 .conf-btn-cad_busca{
    width: 100%;
    margin-left: 10px;
 }

 .textfield-serv > select{
    width: 25vw;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-top: 2px;
}